body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
    /* CSS orqali smooth scroll */
}

.container {
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}

.button {
    background-color: #DC780B;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
}

.button:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 200ms ease;
}

.button:active {
    scale: 1;
    transition-duration: 100ms;
}

.button-reverse {
    letter-spacing: 1px;
    border-radius: 5px;
    background-color: #fff;
    color: #DC780B;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #DC780B;
    text-align: center;
}

.button-reverse:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 200ms ease;
}

.button-reverse:active {
    scale: 1;
    transition-duration: 100ms;
}

.characteristic-text {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin: 0;
}

.to-uppercase {
    text-transform: uppercase;
}

.to-capitalize {
    text-transform: capitalize;
}

.section-subtitle {
    color: #DC780B;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}

.section-title {
    margin: 0;
    font-size: 31.25px;
    font-weight: 700;
}

.characteristic-name {
    margin: 0;
    font-weight: 700;
    font-size: 25px;
}

.candidate-description {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0%;
    margin: 0;
}

.candidate-name {
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
}

.candidate-position {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: black;
    opacity: 0.7;
}