/* Home Section */
.home-section {
    display: flex;
    flex-direction: column;
}

.home-navbar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: #fff;
    padding: 25px 0px;
    z-index: 1;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 16px 0px; */
    width: 100%;
    left: 0;
    gap: 250px;
}

.home__links {
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
}

.home__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: #C5093D;
    color: #fff;
    position: relative;
    line-height: 1;
    overflow: hidden;
    text-decoration: none;
}

.home__logo h6 {
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    margin: 0;
    position: relative;
    right: 2px;
}

.home__logo p {
    font-size: 7px;
    position: relative;
    margin: 0;
}

.home__link {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: #150C01;
    opacity: 0.6;
    position: relative;
}

.home__link:hover {
    scale: 1.1;
    left: 2px;
    transition: 100ms ease;
}

.home__link.active {
    color: #DC780B;
    transition: 200ms ease;
    scale: 1;
}

.home__link:active {
    color: #DC780B;
    transition: 200ms ease;
    scale: 0.9;
}

.nav-btn {
    width: 155px;
    height: 46px;
}

.home-main {
    display: flex;
    justify-content: space-between;
}

.home-main__text {
    padding-top: 150px;
    height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-main__text h1 {
    font-weight: 700;
    font-size: 48.83px;
    letter-spacing: 0%;
    line-height: 57.6px;
    margin: 0;
}

.btn-wrapper {
    display: flex;
    gap: 30px;
}

.btn-wrapper button {
    padding: 15px 25px;
}

.home-main__img {
    background-image: url(./images/256f8a5a55925c5405bfa8b85548116c892d458c.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 801px;
    height: 670px;
    z-index: -1;
    position: relative;
}

.home-main__img::before {
    content: "";
    width: 300px;
    height: 50px;
    background-color: #DC780B;
    opacity: 0.06;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    rotate: calc(10deg);
    z-index: -1;
    bottom: 0;
    right: 0;
    left: 180px;
    filter: blur(5px);
}

/* Features Section */
.features {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.characteristics {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.characteristic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 0;
}

.characteristic-img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    opacity: 0.2;
}

.quality {
    background-color: #8FA632;
}

.delivery {
    background-color: #E64D2E;
}

.taste {
    background-color: #DC780B;
}

/* About Us Section */
.about-us {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.about-us__img {
    background-image: url(./images/photo_2025-11-30_00-32-01.jpg);
    height: 500px;
    position: relative;
    display: flex;
    flex-basis: 555px;
    flex-shrink: 1;
}

.about-us__img::before {
    content: "";
    background-color: #DC780B;
    opacity: 0.06;
    width: 550px;
    height: 800px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    rotate: calc(-40deg);
    right: 250px;
    bottom: -150px;
    z-index: -1;
}

.about-us__content {
    display: flex;
    flex-direction: column;
    flex-basis: 488px;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    align-items: flex-start;
}

.about-us__btn {
    padding: 15px 30px;
}

/* Menu Section */
.menu {
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.bottom-10 {
    padding-bottom: 10px;
}

.menu-cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0px;
}

.menu-card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(195, 195, 195, 0.507);
    border-radius: 15px;
    height: 446px;
    flex-basis: 360px;
    flex-shrink: 1;
    border-top-left-radius: 80px;
    box-shadow: 0px 5px 15px 5px rgba(182, 182, 182, 0.658);
    overflow: hidden;
}

.menu-card:hover {
    cursor: pointer;
    scale: 1.03;
    transition: 0.3s ease;
}

.menu-card:active {
    transition: 0.3s ease;
    scale: 0.96;
}

.dish-img {
    width: 100%;
    position: relative;
    z-index: -1;
}

.card-content {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    height: 100%;
}

.card-name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dish-name {
    font-weight: bold;
    font-size: 25px;
    margin: 0;
}

.dish-price {
    font-weight: bold;
    font-size: 25px;
}

.card-btn-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-icon {
    color: rgb(250, 217, 6);
}

.review-icon i:last-child {
    color: rgba(190, 190, 190, 0.537);
}

.menu-btn {
    padding: 15px 30px;
    border-radius: 3px;
}

/* Take Away Section */
.take-away {
    padding-top: 100px;
}

.section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.section-background::before {
    content: "";
    background-color: #FBF1E7;
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 518px;
    left: 0;
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 35px;

    h4 {
        letter-spacing: 5px;
    }

    p {
        padding: 25px 0px;
    }
}

.section-btn {
    display: flex;
    gap: 30px;
    align-items: center;

    i {
        font-size: 26px;
    }
}

.app-store__btn {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    background-color: black;
    padding: 15px 25px;

    i {
        position: relative;
        top: -2px;
    }
}

.google-play__btn {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000;
    background-color: inherit;
    border: 2px solid rgba(222, 184, 135, 0.27);
    padding: 15px 25px;
    font-weight: 600;
}

.img-section img {
    box-shadow: 0px 10px 20px 2px #FBF1E7;
    border-radius: 60px;
    position: relative;
    z-index: -1;
}

/* Testimonial Section */
.testimonial {
    padding: 150px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    box-sizing: border-box;
}

.candidates {
    display: flex;
    justify-content: space-between;
    flex-basis: 300px;
    width: 700px;
}

.candidate {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
}

/* Iconda BUG bor: yuqoridan pastgacha hover bo'lyabdi */
.move {
    display: flex;
    align-items: center;
    position: relative;
    top: 40px;
    padding: 3px;
}

.move:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 200ms ease;
}

.move:active {
    scale: 1;
    transition-duration: 100ms;
}

.left-icon {
    color: #000;
    opacity: 0.5;
    font-size: 20px;
}

.right-icon {
    color: #000;
    opacity: 0.5;
    font-size: 20px;
}

.candidate-level {
    padding: 15px 0px 35px;
    display: flex;
    align-items: center;
    gap: 2px;

    i {
        color: #DC780B;
    }

    i:last-child {
        color: gainsboro;
    }
}

/* Contact Section */
.contact {
    padding: 150px 0px;
    box-sizing: border-box;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;

    h4 {
        line-height: 25px;
    }

    form {
        padding-top: 25px;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
}

.message-input {
    padding: 30px 560px 30px 40px;
    border-radius: 10px;
    border: none;
    position: relative;
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    justify-content: flex-start;
}

.message-submission {
    padding: 28px 50px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    position: absolute;
}

/* Footer Section */
.footer {
    padding-top: 135px;
}

.footer-background {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-background::before {
    color: #fff;
    background-color: #252525;
    content: "";
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 518px;
    left: 0;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 5px;
    align-items: flex-start;
    bottom: 20px;
    position: relative;
}

.footer-brand p {
    color: #fff;
    font-weight: 400;
    font-size: 0.9rem;
    opacity: 0.7;
    margin: 0;
}

.footer__logo {
    width: 61px;
    height: 60px;
    line-height: 1;
}

.footer__logo h6 {
    font-size: 1.3rem;
    font-weight: 600;
    right: 2px;
}

.footer__logo p {
    font-size: 8px;
    letter-spacing: 1px;
    font-weight: 400;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

    h4 {
        margin: 0;
    }
}

.footer-link__box:last-child {
    position: relative;
    bottom: 15px;
}

.footer-link__title {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    line-height: 35px;
}

.footer__link {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    opacity: 0.7;
    font-weight: 400;
}

.footer-media__links {
    display: flex;
    gap: 10px;
}

.footer-media__link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.footer-media__link:hover {
    opacity: 0.8;
    scale: 1.05;
    border-radius: 3px;
    transition: 150ms ease-out;
}